.main {
  background-color: rgb(52, 120, 122);
  width: 550px;
  padding: 25px;
}
.main:hover .btn {
  background-color: #f0f09c;
  color: #fff;
}
.main:hover .input::placeholder {
  color: #f0f09c;
}
.main:hover .input {
  background-color: #ddd;
  border: none;
}
.heading {
  color: #fff;
}
.heading .sub-heading {
  color: #f0f09c;
}
p {
  color: #fff;
}
.input,
.btn {
  padding: 8px;
}

.btn {
  background-color: yellow;
  border: none;
}
