*,
::before,
::after {
  box-sizing: border-box;
}
/* 
<svg class="icon-logo-vikinger">
          <use xlink:href="#svg-logo-vikinger"></use>
        </svg>
*/

.main {
  width: 100%;
  height: 100%;
  background: url(../bai-1/landing-background.jpg) no-repeat 0;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}
.landing__content {
  position: absolute;
  top: 16%;
  left: 13%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landding__span {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.landing__heading {
  font-size: 65px;
  font-weight: 900;
  font-family: Titillium Web, sans-serif;
  color: #fff;
}
.landing__desc {
  width: 384px;
  margin: 30px auto 0;
  font: size 12px;
  line-height: 1.3;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.landing__toggle {
  display: flex;
}
.login,
.register {
  border: none;
  padding: 15px 50px;
  cursor: pointer;
  border: 1px solid #fff;
}

input[type="radio"]#login:checked ~ .landing__sub .landing__toggle .login {
  background-color: #fff;
  color: #333;
}
input[type="radio"]#register:checked
  ~ .landing__sub
  .landing__toggle
  .register {
  background-color: #fff;
  color: #333;
}
.login {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.register {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.landding__form {
  position: relative;
  min-height: 100vh;
}
.form__login,
.form__register {
  width: 484px;
  background-color: #fff;
  border-radius: 5px;
  padding: 64px;
  position: absolute;
  top: 10%;
  right: 10%;
  visibility: hidden;
  opacity: 0;
  transform: translate(0, 0);
  transition: 0.5s ease;
  transition-property: transform visibility opacity;
}
.form__login .rock,
.form__register .rock {
  position: absolute;
  top: -73px;
  left: -83px;
}

input[type="radio"]#login:checked ~ .landing__sub .form__login {
  transform: translate(20%, 0);
  visibility: visible;
  opacity: 1;
}
input[type="radio"]#register:checked ~ .landing__sub .form__register {
  visibility: visible;
  opacity: 1;
  transform: translate(20%, 0);
}
.form__login-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 80px;
}
.form__item {
  position: relative;
  height: 54px;
  margin-bottom: 10px;
}
.form__item input {
  height: 100%;
  width: 356px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 22px;
  padding-right: 22px;
  border-color: #ccc;
}
.form__item span {
  position: absolute;
  top: 19px;
  color: #adafca;
  left: 22px;
  transition: 0.5s ease;
  transition-property: top;
}
input[type="text"]:focus + span {
  top: 0;
}
input[type="text"]:focus {
  outline-color: blue;
}
.form-desc {
  border-color: aqua;
}
.form__remember {
  display: flex;

  justify-content: space-between;
}
.form__customs {
  position: relative;
  display: block;
  padding-left: 34px;
  color: #3e3f5e;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  margin-bottom: 15px;
  overflow: hidden;
}
.form__customs::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 3px;
  left: 0;
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: transparent;
}
.form__customs::after {
  content: "\f00d";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 17px;
  color: #fff;
  width: 20px;
  height: 20px;
  color: red;
  color: #fff;
  top: 3px;
  left: 4px;
  visibility: hidden;
  opacity: 0;
}
input[type="checkbox"]#remember:checked ~ .form__customs::after {
  visibility: visible;
  opacity: 1;
  color: aqua;
}
.form__remember span {
  color: #adafca;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
}
.form__remember span:active {
  color: aqua;
}
.form__btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form__btn a {
  background-color: #615dfa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px 91px;

  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.form__footer-desc,
.form__footer-desc-register {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.form__footer-desc::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background-color: #ccc;
  top: 7px;
  left: 0px;
}
.form__footer-desc::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background-color: #ccc;
  top: 7px;
  right: 0px;
}
.form__footer-icon {
  text-align: center;
}
.form__footer-icon i {
  font-size: 26px;
  border-radius: 5px;
  padding: 10px;
}
.form__footer-icon i:nth-child(1) {
  background-color: #3763d2;
  color: #fff;
}
.form__footer-icon i:nth-child(2) {
  background-color: #1abcff;
  margin-left: 5px;
  color: #fff;
}
.form__footer-icon i:nth-child(3) {
  background-color: #7b5dfa;
  color: #fff;
  margin-left: 5px;
}
.form__footer-icon i:nth-child(4) {
  background-color: #fd434f;
  color: #fff;
  margin-left: 5px;
}
